@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 10 10;
    /* Almost black */
    --foreground: 250 250 250;
    /* Almost white */
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

.glass-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}